extends ../../_layout

block aside
    include ../../_includes/aside-menu-two

block content
    .ui.grid
        .one.column.large.screen.only.margin__row_20
            .row
                .ui.cards
                    .card
                        .content
                            span Изменить название турнира
                            form(method='post').ui.form
                                div.field
                                    input(name='id' value=tournament._id || '' placeholder="ID" type='hidden')
                                    input(type='hidden' name='creatorTournament' value=tournament.creatorTournament)
                                    div(class="ui input field")
                                        input(name='nameTournament' type='text' placeholder='Название' value=tournament.nameTournament required)
                                    div(class="ui input field")
                                        input(name='cash' type='number' min=0 placeholder='Призовой фонд' value=tournament.cash required)
                                    div(class="ui input field")
                                        input(name='date' type='date' placeholder='Дата проведения' value=tournament.date required)
                                    div.ui.list
                                        each gameOne in games
                                            .item
                                                .ui.master.radio.checkbox
                                                    - var isCheked = tournament.game === gameOne.game;
                                                    input(id=gameOne.game type='radio', name='game' value=gameOne.game checked=isCheked)
                                                    label(for=gameOne.game)= gameOne.name

                                div.field
                                    button(type='submit' class='ui green button') Сохранить
                                    if tournament._id
                                        a(href=`/profile/tournaments/${tournament._id}/delete` class='ui red button') Удалить
            .row
                .ui.cards
                    .card
                        .content
                            span Найти команду
                            form(action='/profile/tournaments/addTeamInTournament' method="POST" id="js_form_search_teams").ui.form
                                input(type='hidden' name='tournament_id' value=tournament.id).hidden
                                .card
                                    .content
                                        .field
                                            .ui.search
                                                input.prompt(type='text' id='js_input_search_teams' name="search" placeholder='Имя команды...' autocomplete='off')
                                                .results#js_results_dropdown_teams
                                        .field
                                            .ui.middle.aligned.divided.list#js_results_list_teams
                                                //.item
                                                //    .right.floated.content
                                                //        .ui.button Add
                                                //    .content
                                                //        | Lena

            .row
                .ui.cards
                    .card
                        .content
                            span Игроки в команде
                            form(action='/profile/tournaments/deleteTeamInTournament' method="POST" id="js_form_current_teams").ui.form
                                input(type='hidden' name='tournament_id' value=tournament.id).hidden
                                .card
                                    .content
                                        .field
                                            .ui.middle.aligned.divided.list#js_list_teams
                                                if teams.length > 0
                                                    each team in teams
                                                        .item
                                                            .content= team.nameTeam
                                                                input(type="hidden" name="team_id" data-value=team)
                                                            .content
                                                                .ui.button.red.js_remove Удалить
                                                else
                                                    .item
                                                        .content Игроков в команде нет


