extends ../../_layout

block aside
    include ../../_includes/aside-menu-two

block content
    h1 Мои команды
    //a.ui.primary.button(href=`${baseUrl}/create`) New team

    .ui.column

        .ui.column
            h4 Команды в которых я состаю

            .ui.cards
                each team in teams
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                            .header
                                a(href=`${baseUrl}/${team.id}`)= team.name
                            .meta
                                | Friends of Veronika
                            .description
                                | Elliot requested permission to view your contact details
                        //.extra.content
                        //    .ui.two.buttons
                        //        a.ui.basic.green.button(href=`${baseUrl}/${team.id}/update`) Изменить
                        //        a.ui.basic.red.button(href=`${baseUrl}/${team.id}/delete`) Удалить
        .ui.column
            h4 Мои созданные команды
            .ui.cards
                each team in myTeams
                    .card
                        .content
                            img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                            .header
                                a(href=`/profile/teams/${team.id}`)= team.nameTeam
                            .meta
                                | Friends of Veronika
                            .description
                                | Elliot requested permission to view your contact details
                        //.extra.content
                        //    .ui.two.buttons
                        //        a.ui.basic.green.button(href=`${baseUrl}/${team.id}/update`) Изменить
                        //        a.ui.basic.red.button(href=`${baseUrl}/${team.id}/delete`) Удалить