extends ../_layout

block content
    .ui.grid
        .one.column.large.screen.only.margin__row_20
            .row
                h5= player.name
                .field
                    player.email
                .field
                    if player.role === 'user'
                        span Пользователь
                    else
                        span Админ
            .row
                .ui.cards
                    .card
                        if myTeams.length > 0
                            .content
                                .header
                                    a(href='/profile/teams') Ваши команды
                                .ui.relaxed.divided.list
                                    each team in myTeams
                                        .item
                                            .description
                                                a(href=`/profile/teams/${team._id}`)= team.nameTeam
                                            .description
                                                each game in team.listGameTeam
                                                    i= game
                                            .description
                                                a(href=`/profile/teams/${team._id}/update`) Изменить
                            a(href="/profile/teams/create").ui.bottom.attached.button
                                i
                                |    Создать новую команду
            .row
                .ui.cards
                    .card
                        if teams.length > 0
                            .content
                                .header
                                    a(href='/profile/teams') Ваши команды
                                .ui.relaxed.divided.list
                                    each team in teams
                                        .item
                                            .description
                                                a(href=`/profile/teams/${team._id}`)= team.nameTeam
                                            .description
                                                each game in team.listGameTeam
                                                    i= game
                                            .description
                                                a(href=`/profile/teams/${team._id}/update`) Изменить